body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: #dfe6e9;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #07a3a3 */

.navbar-default {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 10px 5px rgba(0, 0, 0, 0.35);
  background-color: beige;
  background-image: linear-gradient(to bottom, #fff 0%, #f9f9c9 100%);
}
.col-sm-4 {
  padding-top: 50px;
}

.head_title {
  margin-top: 80px;
}

.head_title h1 {
  color: #95c2cf;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
}

/*=========Separator=========*/

.boxs {
  width: 10px;
  height: 10px;
  background-color: #e74c3c;
  transform: rotate(45deg);
}

.separator {
  width: 10px;
  height: 10px;
  margin: 20px auto;
  position: relative;
  display: inline-block;
}

.separator:after {
  position: absolute;
  left: 5%;
  bottom: 4px;
  height: 3px;
  width: 150px;
  background: #000;
  content: "";
  display: inline-block;
  margin-left: 20px;
}

.separator:before {
  position: absolute;
  right: 5%;
  bottom: 4px;
  height: 3px;
  width: 150px;
  background: #000;
  content: "";
  display: inline-block;
  margin-right: 20px;
  transform: rotate(0deg);
}

.separator2 {
  height: 4px;
  width: 150px;
  margin: 10px 0px;
  background: #eeeeee;
}

/* ===Card Layout=== */

.eventimg {
  text-align: center;
  background-color: #005c5c;
  border-radius: 30px 00px;
  height: 450px;
  box-shadow: 0px 0px 10px #000;
  width: 300px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: beige;
  margin: auto;
  margin-bottom: 40px;
}
.eventimg:hover {
  box-shadow: 5px 5px 20px #000;
}

p {
  text-align: justify;
}

.btn {
  border: 2px solid;
}

.login {
  width: 250px;
  height: auto;
}

.std {
  padding-top: 50px;
}

/* ===Profile Part Chalu=== */

.proShow {
  width: 284px;
  height: 486px;
  text-align: center;
  line-height: 45px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.proShow:hover {
  box-shadow: 2px 2px 15px #fff;
}

.proF {
  text-align: center;
  color: #34495e;
  font-size: 2em;
}

.pro_head {
  background: #e74c3c;
  padding: 30px 0px;
  background: #999999;
  position: relative;
  height: 130px;
}

.pro_body {
  background: #ecf0f1;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 90px 0px 30px 0px;
}

.btn {
  border: 2px solid;
}

/* ===Profile ka img=== */

.E1img {
  background: #000;
  position: absolute;
  left: 25%;
  bottom: -50%;
  height: 150px;
  width: 150px;
  margin: 30 auto;
  padding: 30px 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(244, 245, 249, 0.3);
}
.E1img:hover {
  position: absolute;
  left: 15%;
  bottom: -48%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 30px 0px;
  border-radius: 2%;
  box-shadow: 0px 0px 0px 10px rgba(244, 245, 249, 0.3);
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

/* ===Profile End=== */

/* ===Upload Section=== */
/* .upload {
  width: 284px;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 0.5);
} */

.uploadBTN {
  width: 284px;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 1);
}

.size {
  font-size: 40px;
  margin-left: 5px;
  weight: bold;
  color: #ccc;
  border: 1px solid;
}

.btnTxt {
  font-size: 20px;
  weight: bold;
  color: #ccc;
  border: 1px solid;
}
/* ===Upload End=== */

/* ===Hedding Part Chalu=== */
h2 {
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

p {
  text-align: justify;
}
/* ===Hedding Part khatam=== */

.login {
  width: 250px;
  height: auto;
}

.std {
  padding-top: 50px;
}

/* ===FormField=== */

.formSec h2 {
  color: #f9f9c9;
  font-size: 50px;
}

.ff {
  align-items: center;
  margin: auto;
  width: 800px;
  height: auto;
}

@media screen and (max-width: 960px) {
  .ff {
    align-items: center;
    margin: auto;
    width: 800px;
    height: auto;
  }
}
@media screen and (max-width: 770px) {
  .ff {
    align-items: center;
    margin: auto;
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .ff {
    align-items: center;
    margin: auto;
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .ff {
    align-items: center;
    margin: auto;
    width: 350px;
    height: auto;
  }
}

/*==Width set==*/

.width400 {
  width: 400px;
}
.width600 {
  width: 600px;
}
.width500 {
  width: 500px;
}

.btnSub {
  width: 100px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background-color: teal;
  border-radius: 8px;
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}
.btnSub2 {
  width: 100px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background-color: #3498db;
  border-radius: 50px;
  float: right;
  margin-right: 50px;
}
.btnSkill {
  width: 100px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background-color: #3498db;
  border-radius: 50px;
  margin-right: 50px;
  float: right;
}

.formBox {
  background: rgba(250, 250, 218, 1);
  box-shadow: 10px 18px 10px rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 15px;
}

.margT20 {
  margin-top: 20px;
}

.input-group {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
}
/* ===Profile View Codes are here=== */

.topDiv {
  padding-top: 50px;
}

.width900 {
  width: 960px;
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
}

.check {
  background-color: #ccc;
}
.mango {
  /* Add shadows to create the "card" effect */
  width: 300px;
  height: 334px;
  background-color: bisque;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  border: 2px solid #fff;
}

/* On mouse-over, add a deeper shadow */
.mango:hover {
  box-shadow: 8px 18px 11px rgba(0, 0, 0, 0.4);
}

.linkBTN {
  text-decoration: none;
  color: #000;
}
.linkBTN:hover {
  text-decoration: none;
}

.prfIMG {
  width: 296px;
  height: auto;
}

.imgFrm {
  width: 296px;
  height: 200px;
  overflow: hidden;
}

/* Add some padding inside the card container */
.containere {
  background: #ccc;
  height: 130px;
  padding: 2px 16px;
}

/* Job Profile View */

.compHead {
  position: relative;
  margin-top: 0px;
  height: 150px;
  background-color: #a29bfe;
  margin-left: 5%;
  margin-right: 5%;
}

.compImg {
  position: relative;
  margin: auto;
  bottom: -50px;
  height: 200px;
  width: 200px;
  background-color: #000;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 10px rgba(178, 190, 195, 0.5);
  overflow: hidden;
}

.compBody {
  margin-top: 125px;
}

.compDisp {
  background-color: #fff;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 2px;
  padding: 15px;
  box-shadow: 1px 1px 10px 0px;
}

@media screen and (max-width: 400px) {
  .compDisp {
    margin-left: 2%;
    margin-right: 2%;
  }

  .compHead {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

.title {
  font-size: 18px;
}

.title2 {
  font-size: 18px;
  font-weight: 600;
}

.bld {
  font-size: 20px;
  font-weight: bold;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.disp {
  font-size: 16px;
  font-weight: 200;
}
